@@include('./_head.html', {
    "title": "Jobs - DVO Media",
    "name": "jobs"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Jobs / Availability</h2>
        <p>We can either provide a developer, or we can help place you.</p>
    </header>
    <div class="container">
        <section>
            <h2>PHP Developer Jobs Lincolnshire</h2>

            <p>We regularly have vacancies for roles in Lincoln, Boston, Spalding, Grantham & Grimsby.
            <br/><br/>
                If you are a developer looking for a role in this area please <a href="/contact.html">send us your details.</a> If you are a company in the area looking for temporary contractors please <a href="/contact.html">contact us.</a></p>

            <h2>PHP Developer Jobs Yorkshire</h2>

            <p>Sheffield &amp; Leeds are very popular cities for web development, but so are Wakefield, Pontefract and Hull.
            <br/><br/>
            If you are a developer looking for a role in this area please <a href="/contact.html">send us your details.</a> If you are a company in the area looking for temporary contractors please <a href="/contact.html">contact us.</a></p>

            <h2>PHP Developer Jobs Midlands</h2>

            <p>Nottingham, Leicester, Birmingham, Coventry, and Derby are just some of the areas we cover in the midlands.
            <br/><br/>
            If you are a developer looking for a role in this area please <a href="/contact.html">send us your details.</a> If you are a company in the area looking for temporary contractors please <a href="/contact.html">contact us.</a></p>
        </section>

    </div>
</section>


@@include('./_foot.html')