@@include('./_head.html', {
    "title": "Meet The Team - DVO Media",
    "name": "jobs"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Our Team</h2>
        <p>Meet us all!</p>
    </header>
    <div class="container">
        <section>
            <div class="teamphoto">
                <img src="/dist/images/bobby.jpg" />
            </div>
            <h2>BOBBY DEVEAUX - DIRECTOR</h2>

            <p>Bobby is a Certified ScrumMaster and Zend Certified PHP Engineer, making his first website at the ripe old age of 9, teaching himself HTML in the process. Over his career he has established himself as an Enterprise Developer, dealing largely with Open Source technology.</p>
            <p>Now running DVO Media, Bobby is busy finding work, networking, writing proposals, and sending out quotes. Occasionally he'll be found writing some code, usually late at night for fun, instead of at the gym where he should be.</p>


        </section>
        <hr class="major" />
        <section>
            <div class="teamphoto">
                <img src="/dist/images/stephanie.jpg" />
            </div>
            <h2>STEPHANIE DEVEAUX - DIRECTOR</h2>

            <p>Stephanie is one of DVO Media's joint directors and is CIPD qualified in HR Management, with the majority of her career being specialised in this field. She has worked for a number of diverse companies, including working and living in Sydney, Australia for a year. </p>

            <p>She enjoys all aspects of Business Management and focuses on a number of areas within DVO Media including; Marketing, Finance, HR, Sales, Business Development, Customer Development and Relations as well as managing our busy office.</p>

            <p>Born and raised in Wiltshire, Stephanie is a country bumpkin at heart and enjoys lots of country walks with her and Bobby's daughter Penelope and the DeVeaux family's Labrador Retriever, Bella. She also loves travelling, socialising with friends and family, music and is a bit of a TV series addict! </p>

        </section>
        <hr class="major" />
        <section>
            <div class="teamphoto">
                <img src="/dist/images/allan.jpg" />
            </div>
            <h2>ALLAN MAPLETOFT - DEVELOPER</h2>

            <p>Aspiring PHP and front end designer Allan from Peterborough is a larger than life character who likes to work hard and play hard. Following a successful three years at the London Metropolitan University where he came away with a First Class Honours in Computing, Allan moved to the North of the UK to begin work in the exciting software development industry with DVO Media in Nottingham.</p>

            <p>Outside of work, sociable Allan can often be found enjoying drinks with friends over the pool table, and is continuously seeking to further his own knowledge, whether that be work related or other. He hopes to continue his studies and complete a PHD, although he has yet to determine which subject to choose. </p>

            <p>Allan has a deep interest for travel, and would love to one day tour the world, visiting Japan, America, Thailand and New Zealand in order to experience the many rich and diverse cultures that the world has to offer.</p>

            <p>He can also be found at the gym several times a week in training for his aim to run a marathon in the coming few years.</p>

        </section>
        <hr class="major" />
        <section>
            <div class="teamphoto">
                <img src="/dist/images/shane.jpg" />
            </div>
            <h2>SHANE BARKER - DEVELOPER</h2>

            <p>Shane was born and raised in Nottingham and attended De Montfort University in Leicester where he studied Computing. Prior to University, Shane spent a few years as a TCP/IP Network’s technician, and joined DVO Media in June of 2014 after achieving his HND in Computing.</p>

            <p>Before gaining his HND, Shane spent six years as a professional Casino dealer, dealing to many of the Nottingham Panthers and Nottingham Forest sports teams. He has also dealt Blackjack to Boy George, 3 Card Poker to Jermaine Jenas, Hold-em Poker to Bill Maynard (Claude Greengrass from Heartbeat) and cashed out Jason Manford’s winnings.</p>

            <p>A keen football fan, Shane supports Newcastle United and plays as a striker for Sunday morning football team Karimia FC, also acting as club captain. He is currently the clubs leading scorer and the league’s third highest scorer.</p>

            <p>Shane enjoys listening to a wide range of music, from Green Day and Blink 182 to Eminem and Reel Big Fish. Still a big kid at heart, all of Shane’s favourite TV shows are animated, with his favourites being South Park, Family Guy and American Dad.</p>

            <p>He also loves rats, and has kept several as pets over the years.</p>

        </section>
        <hr class="major" />
        <section>
            <div class="teamphoto">
                <img src="/dist/images/david.jpg" />
            </div>
            <h2>DAVID MCCURDY- DEVOPS ENGINEER</h2>

            <p>Originally from the north coast of Antrim in the lovely but rather wet Northern Ireland, David attended the University of Ulster, graduating with a Bsc Hons in Computer Science.</p>

            <p>Following his graduation, rather than remaining in his home country (and most likely ending up having to move to Belfast to work in IT), David chose to leave Northern Ireland altogether. With it being a hub of IT and web hosting businesses, Nottingham was his choice of new home.</p>

            <p>Many years were spent jumping between various development and system admin roles before David combined the two roles by taking up a DevOps position. Joining DVO Media in December 2014, David is responsible for the system administration of all of our servers. He also assists the Brand Management team with the development of new brand sites.</p>

            <p>After 12 years spent working in various roles in the hosting industry, David says that the industry’s rapid change still keeps him interested after all this time.</p>

            <p>An avid tabletop war gamer out of work, David has been playing Games Workshop games for over 25 years, and has even represented his country 5 times at the European Team Championships. He’s now part of the organising committee for a group that arranges campaign weekends in Mansfield, Nottinghamshire. With his scenery building and painting for war gaming, as well as his wife’s enjoyment of crochet and sewing, David’s home is a hive of crafting activity.</p>

        </section>
        <hr class="major" />
        <section>
            <div class="teamphoto">
                <img src="/dist/images/arduino.jpg" />
            </div>
            <h2>ARDUINO DI GIOSIA - DEVELOPER</h2>

            <p>Arduino was born in the remote countryside village of Santa Reparata in the Abruzzo region of Italy, far away from the hustle and bustle of the big cities. His hometown was so tiny that he had to travel for more than an hour each morning just to get to school! Being so isolated from everything that a big town has to offer, Arduino quickly learned that he had to fight to achieve his dreams.</p>

            <p>Passionate about the logic of math from an early age, Arduino knew he was destined to work in IT the moment he turned on his first computer; a Pentium with 4mb of ram and Windows 98. He went on to study computing, data management and programming, receiving a diploma in Multilanguage Programming, and says that computers are both his job and his hobby.</p>

            <p>Always highly competitive, Arduino worked as a freelance web developer for over ten years back home in Italy, but in a bid to grow and improve his career he made the decision to move to England at the beginning of 2015, where he quickly found employment with DVO Media.</p>

            <p>A lover of all things new and technological, one of Arduino’s hobbies outside of work is testing out new tech toys and programming languages. His latest toy is named Arduino, just like him, and is an open source project which was born in Italy, just like him. It sounds like a match made in heaven!</p>

            <p>When he’s not playing with programming and tech toys, Arduino loves travelling, outdoor living, nature and trekking. A keen winter sports fan he enjoys skiing and is a skilled snowboarder.</p>

        </section>
        <hr class="major" />
        <section>
            <div class="teamphoto">
                <img src="/dist/images/adoni.jpg" />
            </div>
            <h2>ANTONIOS PAVLAKIS - SENIOR DEVELOPER</h2>

            <p>Hellenic by birth, Antonios (pronounced Adoni) moved to the UK in 1996 to pursue his studies. For his industrial placement, he found himself applying to other countries and ended up in Switzerland where he worked for a year at the multi-national pharmaceutical company Novartis Animal Health. He was shortlisted for a placement with the European Organisation for Nuclear Research (home of the Large Hadron Collider!), but it wasn’t meant to be…</p>

            <p>Adoni received his Bachelor’s in Computer Science and his Masters in Computational Intelligence and Robotics at De Montfort University in Leicester, and it was there that he was introduced to the PHP programming language that he fell in love with. His passion for this led him to attend many conferences and user groups nationally, eventually taking over as the main organiser for the PHP East Midlands (PHPEM) user group.</p>

            <p>Straight after getting his Masters, he started his journey in web application development by working for an on-line publishing company now known as Scicasts.</p>

            <p>A student of life, Adoni is passionate about software development and architecture, and is always looking forward to his next challenge to create remarkable solutions. In his free time, he strives to further his knowledge base and skill set. As a member of and treasurer for The Chartered Institute for IT (BCS) on the Leicester branch and with his involvement in PHPEM, he organises events, talks and workshops which allow everyone to network and to share their knowledge and experiences.</p>

            <p>While at university Adoni also studied the Japanese martial art of Aikido at which he now holds the rank of 2nd degree black belt (Nidan). He is a fully qualified instructor and teaches at the Ei Mei Kan dojo in Leicester.</p>

        </section>
        <hr class="major" />
        <section>
            <div class="teamphoto">
                <img src="/dist/images/steve.jpg" />
            </div>
            <h2>STEVE DEVEAUX - CLIENT SERVICES MANAGER</h2>

            <p>COMING SOON!</p>

        </section>


    </div>
</section>

@@include('./_foot.html')